"""Handler for the {{ names.pascal }} query."""

from __future__ import annotations

from pyfly.container import service
from pyfly.cqrs import QueryHandler, query_handler

from {{ package_name }}.cqrs.{{ names.snake }}_query import {{ names.pascal }}


@query_handler
@service
class {{ names.pascal }}Handler(QueryHandler[{{ names.pascal }}, dict | None]):
    def __init__(self) -> None:
        super().__init__()

    async def do_handle(self, query: {{ names.pascal }}) -> dict | None:
        raise NotImplementedError("Implement {{ names.pascal }}Handler.do_handle")
