"""Tests for {{ names.pascal }}Controller."""

from {{ package_name }}.controllers.{{ names.snake }}_controller import {{ names.pascal }}Controller


def test_{{ names.snake }}_controller_exists() -> None:
    assert {{ names.pascal }}Controller is not None
