{% raw %}{% extends "pyfly/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url('css/style.css') }}">
{% endblock %}

{% block navigation %}
<a href="{{ reverse('home') }}">Home</a>
<a href="{{ reverse('about') }}">About</a>
{{ super() }}
{% endblock %}{% endraw %}
